{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
    Ваша корзина
{% endblock %}

{% block body %}
    <div class="col-lg-6 offset-3" style="text-align: center">
        <h1>
            Ваша корзина
        </h1>
    </div>
    <div class="container">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Remove</th>
                <th scope="col">Unit price</th>
                <th scope="col">Price</th>
            </tr>
            </thead>
            <tbody>
            {% for obj in cart %}
                {% with item=obj.item %}
                {# перед и после равно пробелов быть не должно, иначе TemplateSyntaxError #}
                    <tr>
                        <td>
                            <a href="{{ item.get_absolute_url }}">
                            {% if item.item_picture %}
                                <img src="{{ item.item_picture.url }}" style="max-width: 10rem">
                            {% else %}
                                <p>
                                    Изображение отсутствует
                                </p>
                            {% endif %}
                            </a>
                        </td>
                        <td>{{ item.name }}</td>
                        <td>{{ obj.quantity }}</td>
                        <td>
                            <a href="{% url "cart:cart_remove" item.id%}">
                                Remove
                            </a>
                        </td>
                        <td class="num">{{ item.price }}</td>
                        <td class="num">{{ obj.total_price }}</td>
                    </tr>
                {% endwith %}
            {% endfor %}
            {% if cart.promocode %}
            <tr class="table-info">
                <td>Total</td>
                <td colspan="4"></td>
                <td class="num">    {{ cart.get_total_price }}</td>
            </tr>
            <tr class="table-light">
                <td>
                    "{{ cart.promocode.code }}" promo code ({{ cart.promocode.discount }}% off)
                </td>
                <td colspan="4"></td>
                <td class="num">   - {{ cart.get_discount }}</td>
            </tr>
            {% endif %}
            <tr class="table-warning">
                <td>Total After Discount</td>
                <td colspan="4"></td>
                <td class="num">    {{ cart.get_discount_total_price|floatformat:"2" }}</td>
            </tr>
            </tbody>
        </table>
        <form action="{% url "promocodes:apply_code" %}" method="post">
            <div class="form-group" style="text-align: center">
                {{ promocode_form }}
                <input type="submit" value="Apply" class="btn btn-primary">
                {% csrf_token %}
            </div>
        </form>
    </div>
    <p>
    <div class="d-flex flex-row">
        <div class="p-2">
            <a href="{% url "shop:item_list" %}" class="btn btn-primary">Continue shopping</a>
        </div>
    </div>
    <div class="d-flex flex-row-reverse">
        <div class="p-2">
            <a href="{% url "order_app:order_create" %}" class="btn btn-primary">Checkout</a>
        </div>
    </div>
{% endblock %}