{% extends 'shop/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Item Creation
{% endblock %}
{% block body %}
    <div class="col-lg-6 offset-3" style="padding-top: 10px">
        <div class="content-section">
    <form id="item_form" method="post"
          enctype="multipart/form-data">
        <fieldset class="form-group">
            {% csrf_token %}
            {{ form|crispy }}
        </fieldset>
        <p>
            <button type="submit" class="bit btn-primary">
                {% if form.instance.id %}
                    Update
                {% else %}
                    Save
                {% endif %}
            </button>
        </p>
    </form>
    {% if form.instance.id %}
        <a href="{% url 'shop:item_delete' form.instance.id %}">
            Delete
        </a>
    {% endif %}
    </div>
    </div>
{% endblock %}