{% extends 'shop/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
  Создание продукта
{% endblock %}
{% block body %}
    <div class="col-lg-6 offset-3">
        <div class="content-section">
    <form id="item_form" method="post"
          enctype="multipart/form-data">
        <fieldset class="form-group">
            {% csrf_token %}
            {{ form|crispy }}
        </fieldset>
        <p>
            <button type="submit" class="bit btn-primary">
                {% if form.instance.id %}
                    Обновить
                {% else %}
                    Сохранить
                {% endif %}
            </button>
        </p>
    </form>
    {% if form.instance.id %}
      <a href="{% url 'shop:item_delete' form.instance.id %}">
        Удалить
      </a>
    {% endif %}
  </div>
{% endblock %}