{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
    User Profile
{% endblock %}
{% block body %}
    <div class="col-lg-6 offset-3" style="text-align: center; padding-top: 30px">
        <div class="content-section">
            {% if user.profile.profile_picture %}
                <img class="rounded-circle account-img" src="{{ user.profile.profile_picture.url }}" style="max-width: 10rem">
            {% endif %}
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
                <p class="text-secondary">{{ user.profile.address }}</p>
                <p class="text-secondary">{{ user.profile.phone_number }}</p>
                <p class="text-secondary">
                    Birth date:
                    {% if user.profile.birth_date %}
                        {{ user.profile.birth_date }}
                    {% else %}
                        Not specified
                    {% endif %}
                </p>
                <p class="text-info">Items in cart: {{ cart|length }}</p>
                <div class="col-lg-12 mt-2 text-center" style="padding-top: 50px">
                    <a class="btn btn-outline-success" href="{% url 'promocodes:promo_list' %}">
                        Available Promocodes for You
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}